@import url('util.css');
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/myriadpro-regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-regular/MyriadPro-Regular.otf') format('opentype'), url('../fonts/myriadpro-regular/MyriadPro-Regular.woff') format('woff'), url('../fonts/myriadpro-regular/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/myriadpro-regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../fonts/myriadpro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro/MyriadPro-Bold.otf') format('opentype'), url('../fonts/myriadpro/MyriadPro-Bold.woff') format('woff'), url('MyriadPro-Bold.ttf') format('truetype'), url('../fonts/myriadpro/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GillSansMTPro-Light';
    src: url('../fonts/GillSansMTPro-Light/GillSansMTPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GillSansMTPro-Light/GillSansMTPro-Light.otf') format('opentype'), url('../fonts/GillSansMTPro-Light/GillSansMTPro-Light.woff') format('woff'), url('../fonts/GillSansMTPro-Light/GillSansMTPro-Light.ttf') format('truetype'), url('../fonts/GillSansMTPro-Light/GillSansMTPro-Light.svg#GillSansMTPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VinerHandITC';
    src: url('../fonts/VinerHandITC/VinerHandITC.eot?#iefix') format('embedded-opentype'), url('../fonts/VinerHandITC/VinerHandITC.woff') format('woff'), url('../fonts/VinerHandITC/VinerHandITC.ttf') format('truetype'), url('../fonts/VinerHandITC/VinerHandITC.svg#VinerHandITC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'winsomeregular';
    src: url('../fonts/winsomeregular/winsome.otf') format('embedded-opentype'), url('../fonts/winsomeregular/winsome.woff2') format('woff2'), url('../fonts/winsomeregular/winsome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/helveticaneuelight/HelveticaNeueLight.eot');
    src: url('../fonts/helveticaneuelight/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuelight/HelveticaNeueLight.woff2') format('woff2'), url('../fonts/helveticaneuelight/HelveticaNeueLight.woff') format('woff'), url('../fonts/helveticaneuelight/HelveticaNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'olegosregular';
    src: url('../fonts/olegos/olegos-webfont.woff2') format('woff2'), url('../fonts/olegos/olegos-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.transition {
    transition: all 0.5s ease 0s;
}

.modal.fade.in {
    z-index: 99999;
}

.botao-voltar-topo {
    bottom: 10px;
    position: fixed;
    right: 10px;
}

a:link {
    text-decoration: none;
}


/*Header*/

.header-principal {
    background: #fff;
    margin: 0px;
}


/*.header-principal .navbar.navbar-expand-lg {
    padding: 0px 1rem !important;
}*/

.header-principal .navbar-collapse.box-menu-link {
    flex-grow: 0;
}

.container.box-principal-menu .navbar-brand .img-logo {
    position: absolute;
    z-index: 9;
    top: 30px;
}

.header-principal.header-unidade .img-logo {
    max-width: 70px;
}

.box-menu-link .nav-item {
    line-height: 30px;
    padding: 0px 1.8rem !important;
    text-transform: uppercase;
    border-top: 0px;
    border-bottom: 5px solid transparent;
}

.header-principal .box-principal-menu {
    padding: 50px 0px;
}

.header-principal .box-principal-menu .navbar-nav .nav-item.nav-link {
    color: #1a1a1d;
    font-size: 14px;
    font-family: "MyriadPro-Bold";
}

.header-principal .box-principal-menu .navbar-nav .nav-item.nav-link:hover,
.box-menu-link .nav-item.active {
    color: #31b175;
}


/*Fim Header*/


/**/

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-15 {
    margin-top: 15px;
}

h1 {
    text-transform: uppercase;
    color: #333333;
    font-size: 34px;
}

h2 {
    color: #333333;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h3 {
    color: #333333;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

p {
    color: #959595;
    font-size: 13px;
    /* font-family: "Open Sans"; */
    font-family: 'Poppins', sans-serif;
    line-height: 22px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-upper {
    text-transform: uppercase;
}

.title-tag {
    background: #4d5654;
    display: inline-block;
    padding: 10px 18px;
    color: #fff;
    font-size: 12px;
    border-radius: 25px;
}

.divisor-menor {
    background: #4d5654;
    width: 100px;
    height: 5px;
    display: block;
}

.title-big {
    font-size: 50px;
    color: #8a8a8a;
    font-family: "MyriadPro-Bold";
}

.title-medium {
    font-size: 20px;
    color: #8a8a8a;
    font-family: "MyriadPro-Regular";
}


/*Area central*/

.area-midias {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 40%;
    z-index: 4;
}

.area-midias .link {
    display: block;
    text-decoration: none;
    width: 60px;
    height: 60px;
    font-size: 20px;
    color: #444444;
    border: none;
    background: #fff;
    text-align: center;
    padding: 10px 10px;
    margin-bottom: 0px;
    line-height: 40px;
}

.area-midias .link:hover {
    color: #bed8d8;
}

.area-midia-mobile {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
}

.area-midia-mobile .link {
    position: relative;
    float: left;
    padding: 10px;
    width: 60px;
    height: 60px;
    font-size: 20px;
    color: #6d6d6d;
}

.area-central-relacionamento {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 10px;
    z-index: 9999;
}

.area-central-relacionamento .link {
    display: block;
    text-decoration: none;
    width: 60px;
    height: 60px;
    font-size: 14px;
    color: #6d6d6d;
    border: none;
    background: #4d5654;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 10px 10px;
    margin-bottom: 0px;
}

.area-central-relacionamento .link.box-whatsapp {
    background: #0ba360;
    animation-delay: .5s;
    border-radius: 50%;
    animation: WaveWhatsApp 1.5s ease infinite;
}

.area-central-relacionamento .link .fa-whatsapp {
    position: relative;
    /* float: left; */
    font-size: 40px;
    color: #fff;
    animation: WaveWhatsApp 1.5s ease infinite;
}

.area-central-relacionamento .link.box-whatsapp .aviso {
    text-transform: uppercase;
    color: #4d5654;
    display: inline-block;
    text-align: left;
    line-height: 20px;
    display: none;
}


/*Fim Area Central Relacionamento*/


/*Ínicio Home*/

.loop.owl-theme .owl-dots .owl-dot.active span,
.loop.owl-theme .owl-dots .owl-dot:hover span {
    background: #4d5654;
}

.loop.owl-theme .owl-nav.disabled+.owl-dots {
    z-index: 5;
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.loop.owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 3px;
    border-radius: 0;
}

.owl-carousel.loop {
    margin-bottom: 100px;
}

.section-nossos-servicos {
    margin-bottom: 100px;
}

.section-nossos-servicos .box-title h2 {
    text-align: center;
    color: #676767;
    font-size: 48px;
    margin-bottom: 100px;
}

.section-nossos-servicos .box-title h2 strong {
    color: #ff2c1f;
}

.box-servicos img {
    position: relative;
    float: left;
    padding-bottom: 50px;
    margin-right: 10px;
}

.box-servicos h3 {
    font-size: 18px;
    color: #444444;
    text-transform: uppercase;
    font-weight: bold;
}

.box-servicos p {
    font-size: 16px;
    color: #757575;
}

.section-sobre {
    margin-bottom: 100px;
}

.box-sobre {
    position: absolute;
    top: 135px;
    left: 100px;
}

.box-sobre h2 {
    font-size: 100px;
    color: #ef4035;
    margin-bottom: 10px;
}

.box-sobre h3 {
    font-size: 17px;
    color: #ef4035;
    margin-bottom: 30px;
}

.box-sobre p {
    color: #888888;
    font-size: 18px;
    width: 36%;
}

.section-unidade {
    margin-bottom: 100px;
}

.section-unidade h2 {
    font-size: 30px;
    font-family: 'MyriadPro-Bold';
    color: #2e2e2e;
    margin-bottom: 40px;
}

.section-unidade h2 span {
    font-size: 20px;
}

.box-unidade img {
    width: 100%;
}

.box-unidade h3 {
    background: #31b175;
    position: relative;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-family: 'MyriadPro-Bold';
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 10px;
    clear: both;
}

.section-form {
    background: #31b175;
    padding: 100px 0px;
}

.box-form {
    background-color: #0a0a0a;
    padding: 60px 40px;
}

.box-form h2 {
    font-family: 'MyriadPro-Regular';
    text-transform: uppercase;
    font-size: 26px;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 0px;
}

.box-form .btn-enviar {
    position: relative;
    float: right;
    background: #ff2b4a;
    color: #fff;
    padding: 10px 60px;
    border-radius: 0px;
}

.box-form input[type=text],
.box-form textarea {
    background: #000;
    border-radius: 0px;
    color: #fff;
}

.box-telefone {
    background-color: #0a0a0a;
    padding: 60px 40px;
    margin-bottom: 20px;
}

.box-telefone.ultimo {
    margin-bottom: 0px;
}

.content-telefone h3 {
    font-family: 'MyriadPro-Regular';
    text-transform: uppercase;
    font-size: 26px;
    color: #fff;
    width: 100%;
    margin-bottom: 20px;
}

.box-telefone i.fa-whatsapp,
.box-telefone i.fa-envelope {
    position: relative;
    float: left;
    color: #fe2b4a;
    margin-bottom: 50px;
    margin-right: 20px;
}

.box-telefone {
    color: #fe2b4a;
    margin-bottom: 50px;
    margin-right: 20px;
}

.box-telefone a {
    color: #fff;
}

.box-telefone i {
    color: #fe2b4a;
    margin-bottom: 50px;
    margin-right: 20px;
}

.section-como-chegar {
    background-color: #fe2b4a;
    padding: 70px 0px;
    text-align: center;
}

.section-como-chegar h3 {
    font-family: "MyriadPro-Regular";
    font-size: 22px;
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
}

.section-copyright {
    padding: 50px 0px;
}

.section-copyright p {
    font-family: "MyriadPro-Regular";
    font-size: 16px;
    text-align: center;
    color: #8b8b8b;
    margin-bottom: 0px;
}

@media (max-width: 767px) {
    .container.box-principal-menu .navbar-brand .img-logo {
        position: relative;
        float: left;
        width: 43%;
        top: 0;
    }
    .header-principal .box-principal-menu {
        padding: 10px 0px !important;
    }
    .navbar-toggler {
        background: #fff;
    }
    .owl-carousel.loop {
        margin-bottom: 50px;
    }
    .section-nossos-servicos .box-title h2 {
        margin-bottom: 30px;
    }
    .section-nossos-servicos {
        margin-bottom: 50px;
    }
    .section-sobre {
        background: #1F1F1F;
        margin-bottom: 50px;
    }
    .box-sobre {
        position: relative;
        top: 0;
        left: 0px;
    }
    .box-sobre p {
        width: 100%;
    }
    .box-unidade {
        margin-bottom: 20px;
    }
    .section-unidade {
        margin-bottom: 50px;
    }
    .section-form {
        padding: 25px 0px;
    }
    .box-form {
        padding: 25px 20px;
    }
    .box-telefone {
        padding: 20px 20px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .box-telefone i {
        margin-bottom: 23px;
    }
    .section-como-chegar {
        padding: 50px 0px;
    }
    .section-copyright {
        padding: 25px 0px;
    }
}


/*Somente desktop*/

@media (min-width: 767px) {
    .item-parallax,
    .item-parallax2,
    .item-parallax3 {
        visibility: visible;
        -webkit-transform: translateY(-20px) scale(0.9);
        opacity: 0;
    }
}

.idiomas {
    position: relative;
    float: left;
    margin-right: 25px;
}

.idiomas a {
    position: relative;
    float: left;
    clear: both;
    margin-bottom: 3px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.row.carousel-noticias {
    overflow: hidden;
    position: relative;
    padding-top: 60px;
}

.carousel-noticias .owl-item {
    position: relative;
    float: left;
}

.owl-dots {
    counter-reset: dots;
}

.owl-dot:before {
    counter-increment: dots;
    content: counter(dots);
}

.owl-nav.disabled {
    display: none;
}

.carousel-noticias .owl-dots {
    position: absolute;
    right: 0;
    top: 0px;
}

.carousel-noticias .owl-dot {
    position: relative;
    float: left;
    background: #FFF;
    color: #000;
    border-radius: 22px;
    font-size: 12px;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-right: 10px;
    line-height: 30px;
    transition: all 0.5s ease 0s;
}

.carousel-noticias .owl-dot.active {
    position: relative;
    float: left;
    background: #31b175;
    border-radius: 22px;
    font-size: 12px;
    color: #FFF;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-right: 10px;
    line-height: 30px;
}

.transition03 {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    '
 transition: all 0.3s ease;
}

.transition05 {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    '
 transition: all 0.5s ease;
}

.transition07 {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.transition20 {
    -webkit-transition: all 2.0s ease;
    -moz-transition: all 2.0s ease;
    -ms-transition: all 2.0s ease;
    -o-transition: all 2.0s ease;
    transition: all 2.0s ease;
}

.translateX {
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.translateY {
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.translateXY {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.noPaddingX {
    padding-right: 0;
    padding-left: 0;
}

.container.containerP {
    max-width: 1100px;
}

.container.containerG {
    max-width: 1450px;
}

.bloco-midia h3 {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #FFF;
}

.bloco-midia {
    overflow: hidden;
    position: relative;
    float: left;
    width: 50%;
}

.bloco-midia.fotos {
    border-radius: 100px 0 0 0;
}

.bloco-midia.videos {
    border-radius: 0 0 100px 0;
}

.bloco-midia a:hover img {
    transform: scale(1.10) rotate(1deg);
}

.section-midias h2.translateX {
    position: relative;
    float: left;
    margin-left: 50%;
    margin-bottom: 45px;
    margin-top: 45px;
}

.section-midias {
    padding-bottom: 70px;
}

.section-midias h2.translateX::before {
    width: 35px;
    height: 2px;
    position: absolute;
    background-color: #929292;
    top: 13px;
    left: -60px;
    content: "";
}

.box-telefone,
.box-form {
    background-color: #31b175;
}

.box-telefone i {
    background: #2cab71ff;
    color: #FFF;
    width: 100px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    position: relative;
    float: left;
    font-size: 50px;
    margin: 0 30px 0px 0;
}

.content-telefone h3 {
    font-family: 'MyriadPro-Regular';
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 25px;
}

.content-telefone p {
    font-family: 'MyriadPro-Regular';
    text-transform: uppercase;
    font-size: 12px;
    color: #000;
    width: 100%;
    margin-bottom: 0px;
    line-height: 14px;
}

.box-telefone a {
    color: #000;
    font-size: 12px;
}

.box-telefone {
    position: relative;
    float: left;
    width: 100%;
    margin: 0px 0 50px 0;
    padding: 0;
    line-height: 14px;
}

.box-form h2 {
    position: relative;
    float: left;
    width: 100%;
    color: #000;
}

.box-form h2 span {
    position: absolute;
    font-size: 10px;
    top: -10px;
}

.box-form h2 span::before {
    width: 35px;
    height: 2px;
    position: absolute;
    background-color: #000;
    top: 5px;
    left: -60px;
    content: "";
}

.box-form input[type=text],
.box-form textarea {
    background: #FFF;
    border-radius: 0px;
    color: #000;
    border: none;
}

.box-form {
    padding-top: 0;
    padding-bottom: 0;
}

button.btn.btn-success.enviar.transition03 {
    float: right;
    background: #31b175;
    border: none;
}

button.btn.btn-success.enviar.transition03:hover {
    background: #2cab71;
}

img.img-fluid.img-logo-rodape {
    max-width: 150px;
    margin-top: 20px;
}

section.section-footer {
    padding: 60px 0;
}

.titulo-footer {
    color: #31b175;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 20px;
}

a.link-mais {
    position: relative;
    float: left;
    clear: both;
    color: #888888;
    margin-bottom: 3px;
}

input#newsletter {
    border-bottom: 1px #CCC solid;
    border-top: none;
    border-right: none;
    border-left: none;
    width: -moz-calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: -o-calc(100% - 50px);
    width: calc(100% - 50px);
}

.midias-footer {
    position: relative;
    float: left;
    color: #888;
    margin: 20px 30px 0px 0px;
}

.submitNewsletter {
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    background: #31b175;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    cursor: pointer;
    color: #FFF;
    font-size: 20px;
}

label.labelSeuEmail {
    margin: 0;
    color: #888;
    font-style: italic;
}

p.itens-atendimento {
    font-size: 14px;
}

p.itens-atendimento a {
    color: #888;
}

form.form-horizontal {
    position: relative;
    float: left;
    width: 100%;
}

@media (max-width: 575px) {
    .center-footer-xs {
        text-align: center;
    }
    a.link-mais {
        width: 100%;
    }
    .bloco-midia {
        max-height: 120px;
    }
    .bloco-midia a>img {
        transform: translateY(-50%);
    }
}

@media (max-width: 1110px) {
    .bloco-midias {
        padding: 0 15px;
    }
}

#box-noticias-nav h2 {
    position: relative;
    float: left;
    width: 100%;
    color: #000;
}

#box-noticias-nav h2 span {
    position: absolute;
    font-size: 10px;
    top: -10px;
}

#box-noticias-nav h2 span::before {
    width: 35px;
    height: 2px;
    position: absolute;
    background-color: #000;
    top: 5px;
    left: -60px;
    content: "";
}

.section-cotacoes {
    padding: 100px 0;
}

.section-cotacoes h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}

.section-cotacoes h2 span {
    font-weight: normal;
    color: #31b175;
}

.section-cotacoes img.img-responsive {
    position: relative;
    float: left;
}

.section-cotacoes h3 {
    font-size: 35px;
    color: #31b175;
    font-weight: 700;
}

.section-cotacoes h4 {
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

.display-cotacao {
    margin-bottom: 30px;
    position: relative;
    float: left;
}

.barraMd.hidden-xs {
    position: absolute;
    width: 2px;
    background-color: #CCC;
    height: 100%;
    top: 0;
    right: 0;
}

.section-noticias {
    padding: 50px;
}

@media (max-width: 1480px) {
    .section-noticias {
        padding: 50px 15px;
    }
}

.section-noticias h3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.topicosSobre {
    padding-top: 50px;
    padding-bottom: 50px;
}

.header-principal {
    /*position: fixed;*/
    width: 100%;
    z-index: 9998;
}

.espaco-menu {
    width: 100%;
    position: relative;
    float: left;
    height: 135px;
}

section.area-banner {
    position: relative;
    float: left;
    clear: both;
}

section {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
}

img.menu-top-out {
    max-width: 70px;
}

@media (max-width: 991px) {
    img.img-fluid.img-logo.transition05 {
        width: 60px !important;
    }
    .espaco-menu {
        height: 90px;
    }
}

header.header-principal.transition03.menu-top-out {
    box-shadow: 0px 0px 10px #000;
    height: 100px;
}

header.header-principal.header-unidade {
    height: 100px;
}

header.header-principal.transition03.menu-top-out .box-principal-menu,
header.header-principal.header-unidade .box-principal-menu {
    padding: 25px 0px;
}

header.header-principal.transition03.menu-top-out .container.box-principal-menu .navbar-brand .img-logo,
header.header-principal.header-unidade .container.box-principal-menu .navbar-brand .img-logo {
    top: 15px;
}

.col-md-6.texto-sobre-nos {
    padding-right: 30px;
}

@media (max-width: 767px) {
    .col-md-6.texto-sobre-nos {
        padding: 15px 30px;
    }
}

a.ler-sobre-nos {
    position: relative;
    float: right;
    color: #000;
}

.ler-sobre-nos i.fas.fa-play {
    position: relative;
    float: right;
    margin-left: 20px;
    margin-top: 4px;
    color: #31b175;
}

a.ler-sobre-nos::before {
    width: 35px;
    height: 2px;
    position: absolute;
    background-color: #000;
    top: 10px;
    left: -54px;
    content: "";
}

.img-topicos-sobre {
    text-align: right;
}

@media (max-width: 575px) {
    .img-topicos-sobre {
        text-align: left;
    }
}

@media (max-width: 991px) {
    .header-principal .box-principal-menu {
        padding: 34px 0;
    }
}

.unidades {
    padding-top: 60px;
    padding-bottom: 60px;
}

.unidades h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #31b175;
}

.box-unidade p {
    position: relative;
    float: left;
    width: 100%;
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 16px;
}

.section-page-blog,
.page-detalhe-blog {
    margin-top: 160px;
}

.section-page-blog h1,
.page-detalhe-blog h1,
.section-page-blog h2,
.page-detalhe-blog h2,
.section-page-blog h3,
.page-detalhe-blog h3,
.section-page-blog a,
.page-detalhe-blog a,
.content-blog a,
.content-blog a {
    color: #31b175;
}

.section-page-blog h1,
.page-detalhe-blog h1 {
    color: #31b175;
}

.container.content-blog {
    border-bottom: 2px solid #31b175;
}

.content-blog p a {
    color: #959595;
}