.clear {
    clear: both;
    float:none;
    height:0px;
}
.no-padding {
    padding:0px;
}
.no-margin-left {
    margin-left: 0px !important;
}
.no-margin-right {
    margin-right: 0 !important;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.no-border {
    border:0px !important; 
}
.no-radius {
    -o-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
}
.transition03 {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;'
    transition: all 0.3s ease;
}
.transition05 {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;'
    transition: all 0.5s ease;
}
.transition07 {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.transition20 {
    -webkit-transition: all 2.0s ease;
    -moz-transition: all 2.0s ease;
    -ms-transition: all 2.0s ease;
    -o-transition: all 2.0s ease;
    transition: all 2.0s ease;
}
.translateX {
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.translateY {
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.translateXY {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes rotateAnim {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@-o-keyframes rotateAnim {
    from {
        -o-transform: rotate(-360deg);
    }
    to {
        -o-transform: rotate(0deg);
    }
}

@-ms-keyframes rotateAnim {
    from {
        -ms-transform: rotate(-360deg);
    }
    to {
        -ms-transform: rotate(0deg);
    }
}

@-webkit-keyframes rotateAnim {
    from {
        -webkit-transform: rotate(-360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes rotateAnim {
    from {
        -moz-transform: rotate(-360deg);
    }
    to {
        -moz-transform: rotate(0deg);
    }
}
